<script setup>
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

toast.info("ยินดีต้อนรับ วิทยาลัยเทคนิคตราด", {
  autoClose: 1500,
  position:toast.POSITION.TOP_CENTER
})

const notify = () => {
  toast.success("Wow so easy !", {
    autoClose: 2000,
  }); // ToastOptions
  return { notify };
}

</script>

<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://cdn.pixabay.com/photo/2017/01/14/15/11/relaxing-1979674_640.jpg" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">หน้าแรก</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quaerat perferendis
              quas eum doloribus molestiae!
            </p>
            <a href="#" class="btn btn-primary btn-sm" @click="notify">อ่านต่อ...</a>
          </div>
        </div>

      </div>

      <div class="col-md-6">

      </div>

    </div>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

h5,p {
  font-family: 'Sarabun', sans-serif;
}

a{
  font-family: 'Sarabun', sans-serif;
}
</style>