<template>
    <div>
        <DashboardHeader />
        <router-view />
        <DashboardFooter />
    </div>
</template>

<script setup>
import DashboardHeader from '@/components/Dashboard/DashboardHeader.vue';
import DashboardFooter from '@/components/Dashboard/DashboardFooter.vue';
import { RouterView } from 'vue-router';
</script>

<style lang="scss" scoped>

</style>